@using Vatebra.core.Services;
@inject BooksService _bookService;
@{
    ViewData["Title"] = "viewBooksDetails";

    var book = await _bookService.getBook(int.Parse(ViewData["viewBookId"].ToString()));
}
<tr></tr>
<h4>List of All copies of " @book.bookName "</h4>
<hr/>
<table class="table">
    <thead>
        <tr>
            <th>
                Year Published
            </th>
            <th>
                Book Abstract
            </th>
            <th>
                Version Description
            </th>
            <th>
                Version Title
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in book.bookCopies)
        {
            <tr>
                @if (item != null && book.bookCopies != null)
                {




                    <td>@item.yearPublished</td>
                    <td>@item.bookAbstract</td>
                    <td>@item.description</td>
                    <td>@item.versionTitle</td>



                }
            </tr>
        }
    </tbody>
</table>
@Html.ActionLink("Add More Copies", "addBookCopies", new { id = book.id })
