@using Vatebra.core.Services;
@inject BooksService _bookService;
@model Vatebra.web.ViewModels.ViewBooksViewModel;

@{
    ViewData["Title"] = "ViewBooks";

}
@{
    var books = await _bookService.getBooks();

}

<p>
    <a asp-action="Create">View all Books in Inventory</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.bookName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bookTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookAuthor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isfree)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.copies)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in books)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.bookName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bookTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookAuthor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookSubscriptionDetails.Description)
            </td>
            @{
                if (item.BookSubscriptionDetails.isfree == "YES")
                {
                    <td class="text-success">
                        @Html.DisplayFor(modelItem => item.BookSubscriptionDetails.isfree)
                    </td>
                }

                else if (item.BookSubscriptionDetails.isfree == "NO")
                {
                    <td class="text-danger">
                        @Html.DisplayFor(modelItem => item.BookSubscriptionDetails.isfree)
                    </td>
                }
            }
            <td>
                @Html.DisplayFor(modelItem => item.BookSubscriptionDetails.Amount)
            </td>
            <td>
              @item.bookCopies.Count.ToString()
            </td>
            <td>
                @Html.ActionLink("Update Details", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("More Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete Book", "Delete", new { /* id=item.PrimaryKey */ })
                @Html.ActionLink("Add Copies", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
        }
    </tbody>
</table>
